<ion-header>
    <ion-toolbar color="tertiary">
        <ion-title>Vip Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="hederCard">
 <ion-card-title *ngFor="let item of Addvatage;">
  - {{item}}
 </ion-card-title>
</ion-card>

<ion-card class="card">
    <ion-card-title >
    A week
    </ion-card-title>
   </ion-card>


   <ion-card class="card">
      <ion-card-title >
       A month
      </ion-card-title>
     </ion-card>


     <ion-card class="card">
        <ion-card-title >
         3 month
        </ion-card-title>
       </ion-card>
</ion-content>
