<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>FAQ</ion-title>
    <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h3>how to make subscripe</h3>

<h6>got to tab subscripe and click on button subscripe</h6>
<hr>
<h3>How to Get Channels</h3>

<h6>Remember TV antennas? Well, they still exist. A digital TV antenna allows you to watch local TV stations for free, all without paying a dime to a cable provider.</h6>
<hr>

<h3>how to make subscripe</h3>

<h6>got to tab subscripe and click on button subscripe
  got to tab subscripe and click on button subscripe
</h6>
<hr>
<h3>How to Get Channels</h3>

<h6>Remember TV antennas? Well, they still exist. A digital TV antenna allows you to watch local TV stations for free, all without paying a dime to a cable provider.</h6>
<hr>
</ion-content>
