<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{ 'Create Compaign' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!video">
    <!-- <label>{{ 'video links' | translate}}</label>
     -->
    <ion-item>
      <ion-input #videoEl placeholder="Add Link"></ion-input>
      <button class="submit" (click)="getVideo(videoEl)">
          {{ 'Add' | translate}}
        </button>
    </ion-item>

    
  </div>

  <div *ngIf="video">
    <ion-card>
   
        <youtube-player 
        [videoId]="videoId"
        suggestedQuality="medium"
        [height]="150"
        [width]="350"
        > 
        <!-- [endSeconds]="60" -->
      </youtube-player>
    </ion-card>
    <label class="header"> {{ 'Order Settings' | translate}}</label>
    <hr>
    <form>
      <ion-item lines="none">
        <label>{{ 'Number Of Subscribers' | translate}}</label>

        <!-- *ngFor="let item of numberOfSubscribers; index as i;" -->

        <ion-select ([ngModel])="Subscribe" (ionChange)=" OnSubscribe($event)" placeholder="10">
          <ion-select-option value='10'>10</ion-select-option>
          <ion-select-option value='20'>20</ion-select-option>
          <ion-select-option value='30'>30</ion-select-option>
          <ion-select-option value='40'>40</ion-select-option>
          <ion-select-option value='50'>50</ion-select-option>
          <ion-select-option value='60'>60</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <label>{{ 'Number Of Likes' | translate}}</label>

        <!-- *ngFor="let item of numberOfSubscribers; index as i;" -->
        <ion-select ([ngModel])="likes" (ionChange)=" Onlikes($event)" placeholder="10">
          <ion-select-option value='10'>10</ion-select-option>
          <ion-select-option value='20'>20</ion-select-option>
          <ion-select-option value='30'>30</ion-select-option>
          <ion-select-option value='40'>40</ion-select-option>
          <ion-select-option value='50'>50</ion-select-option>
          <ion-select-option value='60'>60</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item lines="none">
        <label>{{ 'Number Of views' | translate}}</label>

        <!-- *ngFor="let item of numberOfSubscribers; index as i;" -->
        <ion-select ([ngModel])="view" (ionChange)=" Onview($event)" placeholder="10">
          <ion-select-option value='10'>10</ion-select-option>
          <ion-select-option value='20'>20</ion-select-option>
          <ion-select-option value='30'>30</ion-select-option>
          <ion-select-option value='40'>40</ion-select-option>
          <ion-select-option value='50'>50</ion-select-option>
          <ion-select-option value='60'>60</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <label>{{ 'Time requird (second)' | translate}}</label>

        <!-- *ngFor="let item of numberOfSubscribers; index as i;" -->
        <ion-select ([ngModel])="sec" (ionChange)=" Onsec($event)" placeholder="10">
          <ion-select-option value='10'>10</ion-select-option>
          <ion-select-option value='20'>20</ion-select-option>
          <ion-select-option value='30'>30</ion-select-option>
          <ion-select-option value='40'>40</ion-select-option>
          <ion-select-option value='50'>50</ion-select-option>
          <ion-select-option value='60'>60</ion-select-option>
        </ion-select>
      </ion-item>
      <hr>
      <ion-item lines="none">
        <label>{{ 'Vip account (reduce 10%)' | translate}}</label>

        <button>

          {{ 'Upgrade' | translate}}
        </button>

      </ion-item>

      <ion-item lines="none" style="color:#4458ba; font-style: bold; font-size: 18px;">
        <label>{{ 'Total coins' | translate}}</label>

        <button style="color:#4458ba ;font-style: bold">
          {{point}}

        </button>

      </ion-item>

      <button class="submit" (click)="createComp()">
        {{ 'Done' | translate}}

      </button>
    </form>
  </div>
</ion-content>