<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{ 'Create Compaign' | translate}}</ion-title>
    <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
  </ion-toolbar> 
</ion-header>

<ion-content>
  <ion-card>
   

  </ion-card>
    <label class="header"> {{ 'Order Settings' | translate}}</label>
    <hr>
  <ion-item lines="none">
    <label >{{ 'Number Of Subscribers' | translate}}</label>
    
  <!-- *ngFor="let item of numberOfSubscribers; index as i;" -->

<ion-select value="10">
  <ion-select-option value={{numberOfSubscribers[0]}}>{{numberOfSubscribers[0]}}</ion-select-option>
  <ion-select-option value={{numberOfSubscribers[1]}}>{{numberOfSubscribers[1]}}</ion-select-option>
  <ion-select-option value={{numberOfSubscribers[2]}}>{{numberOfSubscribers[2]}}</ion-select-option>
  <ion-select-option value={{numberOfSubscribers[3]}}>{{numberOfSubscribers[3]}}</ion-select-option>
  <ion-select-option value={{numberOfSubscribers[4]}}>{{numberOfSubscribers[4]}}</ion-select-option>
  <ion-select-option value={{numberOfSubscribers[5]}}>{{numberOfSubscribers[5]}}</ion-select-option>
</ion-select>
</ion-item>

  <ion-item lines="none">
      <label >{{ 'Number Of Likes' | translate}}</label>
     
    <!-- *ngFor="let item of numberOfSubscribers; index as i;" -->
    <ion-select value="10">
      <ion-select-option value={{numberOfSubscribers[0]}}>{{numberOfSubscribers[0]}}</ion-select-option>
      <ion-select-option value={{numberOfSubscribers[1]}}>{{numberOfSubscribers[1]}}</ion-select-option>
      <ion-select-option value={{numberOfSubscribers[2]}}>{{numberOfSubscribers[2]}}</ion-select-option>
      <ion-select-option value={{numberOfSubscribers[3]}}>{{numberOfSubscribers[3]}}</ion-select-option>
      <ion-select-option value={{numberOfSubscribers[4]}}>{{numberOfSubscribers[4]}}</ion-select-option>
      <ion-select-option value={{numberOfSubscribers[5]}}>{{numberOfSubscribers[5]}}</ion-select-option>
    </ion-select>
    </ion-item>

    
    <ion-item lines="none">
        <label >{{ 'Number Of views' | translate}}</label>
        
      <!-- *ngFor="let item of numberOfSubscribers; index as i;" -->
      <ion-select value="10">
        <ion-select-option value={{numberOfSubscribers[0]}}>{{numberOfSubscribers[0]}}</ion-select-option>
        <ion-select-option value={{numberOfSubscribers[1]}}>{{numberOfSubscribers[1]}}</ion-select-option>
        <ion-select-option value={{numberOfSubscribers[2]}}>{{numberOfSubscribers[2]}}</ion-select-option>
        <ion-select-option value={{numberOfSubscribers[3]}}>{{numberOfSubscribers[3]}}</ion-select-option>
        <ion-select-option value={{numberOfSubscribers[4]}}>{{numberOfSubscribers[4]}}</ion-select-option>
        <ion-select-option value={{numberOfSubscribers[5]}}>{{numberOfSubscribers[5]}}</ion-select-option>
      </ion-select>
      </ion-item>
    
      <ion-item lines="none">
          <label >{{ 'Time requird (second)' | translate}}</label>
         
        <!-- *ngFor="let item of numberOfSubscribers; index as i;" -->
        <ion-select value="10">
          <ion-select-option value={{numberOfSubscribers[0]}}>{{numberOfSubscribers[0]}}</ion-select-option>
          <ion-select-option value={{numberOfSubscribers[1]}}>{{numberOfSubscribers[1]}}</ion-select-option>
          <ion-select-option value={{numberOfSubscribers[2]}}>{{numberOfSubscribers[2]}}</ion-select-option>
          <ion-select-option value={{numberOfSubscribers[3]}}>{{numberOfSubscribers[3]}}</ion-select-option>
          <ion-select-option value={{numberOfSubscribers[4]}}>{{numberOfSubscribers[4]}}</ion-select-option>
          <ion-select-option value={{numberOfSubscribers[5]}}>{{numberOfSubscribers[5]}}</ion-select-option>
        </ion-select>
        </ion-item>
      <hr>
      <ion-item lines="none">
          <label >{{ 'Vip account (reduce 10%)' | translate}}</label>
         
        <button >
            
          {{ 'Upgrade' | translate}}
        </button>
        
      </ion-item>
       
      <ion-item lines="none" style="color:#4458ba; font-style: bold; font-size: 18px;">
          <label >{{ 'Total coins' | translate}}</label>
         
        <button style="color:#4458ba ;font-style: bold">
          1500
        
        </button>
        
      </ion-item>
        
      <button class="submit" (click)="getCompaign()" >
        {{ 'Done' | translate}}
        
        </button>
</ion-content>