ion-content ion-toolbar {
  --background: translucent;
}
.icon{
  text-align: center;
  font-size: 40px;
  margin-top: 200px;
  margin-right: 42%;
  margin-left: 42%;
}
button{
  background: #fd4081;
  margin-top: 20px;
  margin-right: 38%;
  margin-left: 38%;
  color: white;
  font-size: 12px;
  display: inline-block;
  padding: 10px;
}
p{
  text-align: center;
 
}
.btn{ 
  margin-top: 10px;
  margin-right: 28%;
  margin-left: 28%;
  
}