<ion-header [translucent]="true" >
    <ion-toolbar color="tertiary">
      
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'Tube Mine' | translate}}</ion-title>
      
    </ion-toolbar>
  </ion-header>
  
<ion-content [fullscreen]="true">
    <ion-icon name="person" class="icon"></ion-icon>
    <p> {{ 'There is no channel' | translate}}</p>
  <button (click)="Reload()">
    {{ 'Reloading' | translate}}
  </button>
  <button class="btn" (click)="ShowVideo()">
    {{ 'watch video to earn point' | translate}}
    </button>
</ion-content>
