<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'Fog tube' | translate}}
      <strong>{{showPoint}}</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="noVideos">
    <ion-icon name="person" class="icon"></ion-icon>
    <p> {{ 'There is no channel' | translate}}</p>
    <button (click)="Reload()">
      {{ 'Reloading' | translate}}
    </button>
    <button class="btn" (click)="ShowVideo()">
      {{ 'watch video to earn point' | translate}}
    </button>
  </div>


  <div *ngIf="!noVideos">
    <div style="margin-top: 35%;" >
      <div class="channel" *ngIf="channel">
        <img src="{{channel.channel.channel.thumbnails.medium.url}}" alt="">
        <h3>
          {{channel.channel.channel.title}}
        </h3>
  
  
      </div>
      <button class="btn" (click)="showMore()">
        {{ 'subscribe' | translate}}
      </button>
      <button class="btn" (click)="showMore()">
        {{ 'Show more' | translate}}
      </button>

      <p>
        {{'* note if you remove the like or the subscribe we will block your account *' | translate}}
      </p>
    </div>
  </div>
</ion-content>