<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'Tube Mine' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button
  expand="block"
  color="danger"
  (click)="loginUser()"
  *ngIf="!userProfile"
>
  <ion-icon name="logo-googleplus"></ion-icon>
  Login with Google
</ion-button>

  <!-- <button ion-buttoncolor="light"(click)="login()" class="logIn">login</button> -->
  <ion-icon name="home" class="icon"></ion-icon>
    <p>{{ 'There is no campaign' | translate}}</p>
  <button (click)="createCompinge()">
      <ion-icon name="add"></ion-icon>
  </button>

</ion-content>