<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tube Mine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <!-- <button ion-buttoncolor="light"(click)="login()">login</button> -->
  <ion-icon name="home" class="icon"></ion-icon>
    <p>There is no campaign</p>
  <button (click)="createCompinge()">
      <ion-icon name="add"></ion-icon>
  </button>

</ion-content>