ion-content ion-toolbar {
  --background: translucent;
}
.icon{
  text-align: center;
  font-size: 40px;
  margin-top: 200px;
  margin-right: 45%;
  margin-left: 45%;
}
button{
  
  float: right;
  background: #fd4081;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  color: white;
  font-size: 25px;
  font-style: bold;
}
p{
  text-align: center;
}