ion-content ion-toolbar {
  --background: translucent;
}
.icon{
  text-align: center;
  font-size: 40px;
  margin-top: 200px;
  margin-right: 45%;
  margin-left: 45%;
}
button{
  
  float: right;
  background: #fd4081;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  color: white;
  font-size: 25px;
  font-style: bold;
}
p{
  text-align: center;
}
.logIn{
  width: 80px;
  height: 80px;
}
.point{
  display: inline;
  margin-left: 80%;
}
ion-card{
  height: 100px;
}
img{
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 70%;
  margin-top: -10%;
  position: absolute;
  
}
.view{
  text-align: left;
  margin-left: 60%;
  margin-top: 10%;
  font-size: 15px;
  //display: inline;
}
.mark{
  color: #2BC568;
  font-size: 15px;
  margin-top: 10%;
  margin-right: 10%
}
hr {
  border-top: 4px solid #fd4081;
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
}