<ion-header [translucent]="true" >
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'Tube Mine' | translate}}</ion-title>
      
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  
<ion-card click="StartTimer()">
    <youtube-player 
    [videoId]="videoId"
    suggestedQuality="medium"
   
    (change)="change($event)"
    [height]="350"
    [width]="380"
    [startSeconds]="0"
    (ready)="savePlayer($event)"
    [endSeconds]="15"
    > 
    <!-- [endSeconds]="60" -->
  </youtube-player>
</ion-card>
<ion-item class="main"  lines="none">
  <label class="left">
     <p *ngIf="hidevalue==false" class="sec"> {{maxTime}}</p>
    {{ 'Second' | translate}}
</label>
<div class="vl"></div>
<label class="right">
    <p *ngIf="hidePoint==true" class="sec"> {{points}}</p>
  {{ 'Points' | translate}}
      </label>
</ion-item>
<button (click)="showMore()">
  {{ 'Show more' | translate}}
</button>
</ion-content>
