<ion-header [translucent]="true" >
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Tube Mine</ion-title>
      
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  
<ion-card>

</ion-card>
<ion-item class="main"  lines="none">
  <label class="left">
   Second
</label>
<div class="vl"></div>
<label class="right">
    Points
      </label>
</ion-item>
<button>
  Show more
</button>
</ion-content>
