<ion-app>
    <ion-icon name="menu" ></ion-icon>
    
    <ion-menu  side="start" menuId="first" contentId="menuContent">        
        <ion-header>
             <ion-toolbar color="dark">
                 <ion-title>Start Menu</ion-title>
             </ion-toolbar>
            
         </ion-header>
         <ion-content>
             <ion-list>
                 <ion-item>Menu Item</ion-item>
                 <ion-item>Menu Item</ion-item>
                 <ion-item>Menu Item</ion-item>
                 <ion-item>Menu Item</ion-item>
                 <ion-item>Menu Item</ion-item>
             </ion-list>
         </ion-content>
     </ion-menu>
     
     <ion-router-outlet id="menuContent"></ion-router-outlet>
</ion-app>
