<ion-app dir="{{textDir}}">
    
    <ion-menu  side="start" menuId="first" contentId="menuContent">        
        <ion-header>
             <ion-toolbar color="tertiary">
                 <ion-title>Menu</ion-title>
             </ion-toolbar>
            
         </ion-header>
         <ion-content dir="ltr">
             <ion-list>
                    
                    
                 <ion-item (click)="goTomessage()" lines="none">
                        <ion-icon name="chatbubbles"></ion-icon> 
                    Message
                </ion-item>
                <ion-item (click)="goToVip()">
                        <img src="assets\icon\vip.png">                        
                    Vip Account
                </ion-item>


                 <ion-item (click)="goTofaq()" lines="none">
                        <ion-icon name="logo-buffer"></ion-icon>
                        
                    FAQ
                </ion-item>

                <ion-item (click)="goToinviteFreind()" lines="none">
                        <ion-icon name="link"></ion-icon>
                        
                   Invite Freind
                </ion-item>
                 <ion-item>  
                     <ion-icon name="star-outline"></ion-icon>
                    Rate
                </ion-item>
                
                 <ion-item lines="none">
                        <ion-icon name="log-out"></ion-icon>
                        
                    log out
                </ion-item>
                
             </ion-list>
         </ion-content>
     </ion-menu>
     
     <ion-router-outlet id="menuContent" dir="{{textDir}}"></ion-router-outlet>
</ion-app>
