ion-icon{
    text-align: center;
    font-size: 40px;
   
  }
  ion-card{
      padding: 10px
  }
  img{
      width: 40px;
      height: 40px;
      display: inline;
  }
  ion-card-title{
      position: absolute;
    display: inline;
    margin-left: 10px;
    color: #3f51b5;
  }
  p{
    display: inline;
    margin-left: 10px; 
    
   
  }