img{
    width: 20px;
    height: 20px;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}
ion-card{
    height: 30%;
    font-size: 15px;
    padding: 10px;
}

ion-card-title{
    //height: 25%;
    font-size: 15px;
    margin: 10px;
    color:  #5A5A5A
}
button{
    color: #fd4081;
    background: white;
    margin: 20px;
 
    
}
strong{
    float: right;
  }