<ion-header>
    <ion-toolbar color="tertiary">
        <ion-title>Message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <img src="assets/icon/message.png">
<ion-card-title>
    
you should subscibe or view or like channel and videos to 
increase your point ❤️❤️❤️
</ion-card-title>  
<button>copy</button>
</ion-card>


<ion-card>
    <img src="assets/icon/message.png">
  <ion-card-title>
      
  you should subscibe or view or like channel and videos to 
  increase your point ❤️❤️❤️
  </ion-card-title>  
  <button>copy</button>
  </ion-card>


  <ion-card>
      <img src="assets/icon/message.png">
    <ion-card-title>
        
    you should subscibe or view or like channel and videos to 
    increase your point ❤️❤️❤️
    </ion-card-title>  
    <button>copy</button>
    </ion-card>
</ion-content>
