<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{ 'buy Points' | translate}} 
      <strong>{{showPoint}}</strong>

    </ion-title>
    <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="main">
    <label class="left">
      3000 {{ 'Points' | translate}}
      
    </label>
    <label class="right">
      0.99$
    </label>
  </ion-card>


  <ion-card class="main">
      <label class="left">
        7000 {{ 'Points' | translate}}
        
      </label>
      <label class="right">
        1.99$
      </label>
    </ion-card>


    <ion-card class="main">
        <label class="left">
          20000 {{ 'Points' | translate}}
          
        </label>
        <label class="right">
          4.99$
        </label>
      </ion-card>



      <ion-card class="main">
          <label class="left">
            50000 {{ 'Points' | translate}}
            
          </label>
          <label class="right">
            9.99$
          </label>
        </ion-card>


        <ion-card class="main">
            <label class="left lastLabel">
              60000 {{ 'Points' | translate}}
              
            </label>
            <label class="right" >
              99.99$
            </label>
          </ion-card>
</ion-content>
