ion-card{
    padding: 20px;
}
.left{
    width:230px;
    float:left;
    text-align:left;
    }
// .right{
//     width:110px;
//     float:right;
//     text-align:right;
//     }
.main{
    width:90%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 20px;
}