<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>buy Point</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="main">
    <label class="left">
      3000 points
      
    </label>
    <label class="right">
      0.99$
    </label>
  </ion-card>


  <ion-card class="main">
      <label class="left">
        7000 points
        
      </label>
      <label class="right">
        1.99$
      </label>
    </ion-card>


    <ion-card class="main">
        <label class="left">
          20000 points
          
        </label>
        <label class="right">
          4.99$
        </label>
      </ion-card>



      <ion-card class="main">
          <label class="left">
            50000 points
            
          </label>
          <label class="right">
            9.99$
          </label>
        </ion-card>


        <ion-card class="main">
            <label class="left lastLabel">
              60000 points
              
            </label>
            <label class="right" >
              99.99$
            </label>
          </ion-card>
</ion-content>
