<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{ 'buy Points' | translate}} 
      <strong>{{showPoint}}</strong>

    </ion-title>
    <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="main" *ngFor="let offer of AllOffers" (click)="restorepurchase()">
    <label class="left">
        {{ offer.point}}  {{ 'Points' | translate}}
      
    </label>
    <label class="right">
        {{ offer.cash}} $
    </label>
  </ion-card>


  
</ion-content>
