<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{ 'subscribe' | translate}}</ion-title>
    <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-icon name="checkmark-circle"></ion-icon>    
   <p> 0 {{ 'channel' | translate}}</p>
  </ion-item>
  <hr>
  <ion-item class="main"  lines="none">
    <label class="left">
     0 {{ 'subscribe' | translate}}
  </label>
  <div class="vl"></div>
  <label class="right">
      0 {{ 'unsubscribe' | translate}}
        </label>
  </ion-item>
</ion-content>