.vl {
    border-left: 2px solid #C6C6C6;
    height: 40px;
   // position: absolute;
    //left: 50%;
    margin-left: 5px;
    margin-right: 5px;
   // top: 0;
  }
  .left{
    width:230px;
    float:left;
    text-align:center;
    // margin-left: 15px; 
    
    }
.right{
    width:230px;
    float:right;
    text-align:center;
    //margin-right: 15px; 
    }
.main{
        // width:90%;
        // margin-right: 5%;
        // margin-left: 5%;
        font-size: 20px;
        text-align: center;
        margin-top: 30%;
  }
  hr {
    border-top: 4px solid #fd4081;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }


  p{
    //margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    display: absolute
}
ion-icon{
    color: #2BC568;
    font-size: 18px;
}