<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{ 'invite friend' | translate}}
      <strong>{{showPoint}}</strong>

    </ion-title>
   
    <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
       
      </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="text-align: center;" > 
    <ion-card-title>{{ 'invite Your Friends' | translate}}</ion-card-title>
    <label>
    <a href="https://fogtube.app.link/NwuabRc8Z5?ref={{user}}">https://fogtube.app.link/NwuabRc8Z5?ref={{user}}</a>
  </label>
  <br>
  <div style="text-align: center;" >
    <button class="btn" (click)="copy()" >{{ 'copy link' | translate}}</button>

  </div>
    <!-- <button>{{ 'invite friend' | translate}}</button> -->
  </ion-card>

  <div *ngFor="let user of viewers">

    <h4> {{user.displayName}}
    </h4>
    <img src="{{user.photoURL || 'https://fogtube.store/profile.svg'}}">

  </div>
</ion-content>