<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{ 'invite friend' | translate}}
      <strong>{{showPoint}}</strong>

    </ion-title>
   
    <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
       
      </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card> 
    <ion-card-title>{{ 'invite Your Friends' | translate}}</ion-card-title>
    <label>
    <a href="https://play.google.com/store/apps/details?id=com.knowladge.hadeas">https://play.google.com/store/apps/details?id=com.knowladge.hadeas</a>
  </label>
  <br>
    <button class="btn">{{ 'copy link' | translate}}</button>
    <button>{{ 'invite friend' | translate}}</button>
  </ion-card>
</ion-content>