<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>invite Friends</ion-title>
   
    
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>invite Your Friends</ion-card-title>
    <label>
    <a href="https://play.google.com/store/apps/details?id=com.knowladge.hadeas">https://play.google.com/store/apps/details?id=com.knowladge.hadeas</a>
  </label>
  <br>
    <button class="btn">copy link</button>
    <button>invite friend</button>
  </ion-card>
</ion-content>